@import "../../fonts/fonts";
#wordmark {
    text-align: left;
    font: normal normal normal 3rem 'Hammersmith One';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

@media (max-width: 600px) {
    #wordmark {
        font-size: 2rem;
    }
}