.cart-popup-item {
    display: flex;
    padding: 24px 16px;
    
    img {
        width: 160px;
        height: fit-content;
        height: intrinsic;
        margin: auto;
    }
    
    &-text {
        margin: 0 16px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        color: #6A6A6A;
        font-weight: normal;
        text-transform: none;

        p {
            margin: 4px 0;
        }
    }
    
    &-m {
        display: none;
    }

    @media(max-width: 1100px) {
        padding: 0;
        height: -webkit-fill-available;

        &-m {
            display: unset;
        }
    }

}