.comp-box {
    width: 480px;
    height: 450px;
    margin: 8% 2% 0 2%;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
}

.comp-wide {
    width: 100%;
}

.comp-box-img {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.comp-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #FFFFFF;
}

.comp-text-box {
    margin: 12px 24px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.comp-box h2 {
    font: normal normal bold 23px/28px Montserrat;
    margin: 0;
}

.comp-box p {
    font: normal normal medium 14px/16px Montserrat;
    color: #7B7B7B;
    margin: 0;
}

.comp-price-tag {
    position: absolute;
    width: 140px;
    transform: rotate(-30deg) translate(-30px, -10px);
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    font: normal normal bold 14px Montserrat;
    padding: 6px;
}

.comp-enter {
    padding: 6px;
    width: 75%;
    font: normal normal bold 14px Montserrat;
    color: #FFFFFF;
    background-color: #E05955;
    border-radius: 16px;
    align-self: flex-end;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.comp-enter:active {
    transform: translateY(1px);
}

.comp-img-ended {
    position: absolute;
    background: #e0595588;
    font: normal normal bold 21px/25px Montserrat;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    width: 100%;
}

@media(max-width: 1100px) {
    .comp-box {
        height: 350px;
        margin: 12% 0 0 0;
    }

    .comp-box-img {
        height: 250px;
    }

    .comp-wide {
        width: 480px;
    }

    .comp-box {
        width: 85%;
    }

    .comp-img-ended {
        font-size: 1rem;
    }
}