.m-cart-popup {
    display: none;

    &-btn {
        position: absolute;
        right: 15px;
        top: 5px;
        background-color: #E05955;
        transition: background-color 200ms;
        padding: 4px;
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;

        img {
            width: 10px;
        }

        &-cart {
            margin: auto;
            width: fit-content;
            border-radius: 100vh;
            top: unset;
            bottom: 5px;

            a {
                font-size: .9rem;
                margin: 0 6px;
                height: 100%;
                color: #fff;
                text-decoration: none;
            }
        }
    }
    
    @media(max-width: 1100px) {
    
        left: -100vw;
        width: 100vw;
        height: fit-content;
        position: fixed;
        margin: auto;
        margin-top: 7vh;
        display: flex;
        justify-content: center;
        z-index: 50;
        transition: left 300ms;

        &-active {
            left: 0;
        }

    }
}