.faq-header {
    font-size: 3rem;
    margin: 0;
}

.faq-container {
    width: 75%;
}

.faq-categories {
    width: 25%;
    text-align: end;
}

.faq-categories ul {
    list-style: none;
    font: normal normal normal 1rem Montserrat;
    line-height: 200%;
}

.faq-categories li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.faq-active-cat {
    color: #E05955;
}

@media(max-width: 1100px) {
    .faq-categories {
        display: none;
    }

    .faq-container {
        width: 100%;
    }

    .faq-header {
        font-size: 1.6rem;
        margin: 8% 0 0 0 ;
    }
}