.profile-nav {
    position: relative;
    display: flex;
    justify-content: center;
}

.profile-nav-btn {
    position: absolute;
    top: -34px;
    max-width: 85%;
    min-width: 60%;
}

.profile-h-margin {
    margin-bottom: 50px;
}

@media(max-width: 1100px) {
    .profile-dash-h {
        text-align: center;
        font-size: 1.4rem;
    }
}


@media(max-width: 1300px) {

    .profile-nav-btn {
        white-space: nowrap;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 100px;

        .btn-text {
            margin: auto;
            width: fit-content;
        }
    }
}