.dropdown {
    width: 100%;
    background-color: #F4F4F4;
    min-height: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    margin: 16px 0;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.custom-select {
    margin: auto 0;
    font: normal normal normal 0.8rem Montserrat;
    color: rgba(0, 0, 0, 1);
    user-select: none;
    cursor: pointer;
}

.custom-select-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.custom-options {
    position: absolute;
    top: 100%;
    background-color: #F4F4F4;
    width: 100%;
    z-index: 1;
}

.custom-option {
    padding: 12px;
}

.custom-option:hover {
    background-color: #e9e9e9;
}

.dropdown-arrow {
    width: 24px;
    height: 24px;
    margin: auto 0;
    transition: transform 200ms;
}

.dropdown-arrow-opened {
    transform: scaleY(-1)!important;
}