.text-input {
    width: 100%;
    background-color: #F4F4F4;
    min-height: 42px;
    display: flex;
    justify-content: stretch;
    margin: 16px 0;
}

.text-input textarea {
    min-height: 82px;
    max-height: 300px;
}

.text-input input[type=number]::-webkit-inner-spin-button,
.text-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.text-input input[type=number] {
    -moz-appearance: textfield;
  }

.text-input input, .text-input textarea {
    font: normal normal normal 0.8rem Montserrat;
    border: none;
    background-color: transparent;
    flex: 1;
}

.text-input input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.text-input input:-webkit-autofill,
.text-input input:-webkit-autofill:hover, 
.text-input input:-webkit-autofill:focus,
.text-input select:-webkit-autofill,
.text-input select:-webkit-autofill:hover, 
.text-input select:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px #F4F4F4 inset;
}

.text-input-icon {
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-input input:focus, .text-input textarea:focus {
    outline: none;
}

.text-input-no-icon {
    padding: 12px 16px;
}