.password-reset-form {
    max-width: 700px;
    width: 100%;
}

.password-reset-stripe {
    display: flex;
    width: 500px;
    text-align: left;
    flex-wrap: wrap;
}

.password-reset-stripe-reset {
    font-size: 1.3rem;
    color: #e05955;
    text-transform: none;
    font-weight: 500;
    width: 45%;
    text-align: end;
    margin: auto 0;
}

.password-reset-button {
    display: flex;
    justify-content: flex-end;
}

.password-reset-icon {
    fill: #e05955;
}

@media(max-width: 1100px) {
    .password-reset-stripe {
        font-size: 1.4rem;
        width: 350px;
    }

    .password-reset-stripe-reset {
        font-size: .9rem;
        width: 45%;
    }
}