.content-card {
    background: #FCFCFC 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.25); 
    box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.25);
    width: 80%;
    padding: 24px 8%;
    margin: 18px 0;
}

@media(max-width: 1100px) {
    .content-card-hidden {
        background: transparent;
        -webkit-box-shadow: none; 
        box-shadow: none;
    }
}