.cart-icon {
    text-decoration: none;
    position: relative;
}

.badge {
    min-width: 8px;
    border-radius: 7px;
    padding: 0 4px;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: .7rem;
    text-decoration: none;
    color: #e05955;
    background-color: #fff;
}