@import "./fonts/fonts";

$red-color: #DF5854;
$green-color: #A2F0C6;

.red { 
    color: $red-color;
}

.green { 
    color: $green-color;
}

h1, h2, h3, h4, h5, h6, li {
    font-family: 'Helvetica Neue';
}

.white-bg {
    background-color: #fff;
}

h1 {
    font-size: 4rem;
    margin: 12px 0;
}
h2 {
    font-size: 2.5rem;
    margin: 12px 0;
}
h3 {
    font-size: 1.8rem;
    margin: 12px 0;
}
h4 {
    font-size: 1.4rem;
    margin: 12px 0;
}

.no-margin {
    margin: 0;
}

@media(max-width: 1100px) {
    h1 {
        font-size: 2rem;
    }

    .mobile-text-center {
        text-align: center;
    }
}

html {
    font-family: 'Montserrat';
    font-weight: 300;
}

.white {
    color: white;
}

.td-none {
    text-decoration: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between!important;
}

.justify-left {
    justify-content: left!important;
}

.justify-end {
    justify-content: flex-end!important;
}

.white {
    color: white!important;
}

.f-grow {
    flex-grow: 1;
}

.f-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
.align-end {
    align-content: flex-end;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: end;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-25 {
    width: 25%;
}

.w-3rd {
    width: calc(100% / 3);
}

.w-2-3rd {
    width: calc(2*(100% / 3));
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.relative {
    position: relative;
}

.flex-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marked-content {
    width: 100%;
}

.marked-content img {
    max-width: 100%;
}

.hidden {
    display: none;
}