.td-none {
    text-decoration: none;
}

.d-block {
    display: block;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.flex-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}