@import "./fonts/fonts";

h1, h2, h3, h4 {
    font-family: 'Helvetica Neue';
}

.white-bg {
    background-color: #fff;
}

h1 {
    font-size: 4rem;
}

@media(max-width: 1100px) {
    h1 {
        font-size: 2rem;
    }
}

p {
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 1.4rem;
}

.white {
    color: white;
}

.td-none {
    text-decoration: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.white {
    color: white!important;
}

.f-grow {
    flex-grow: 1;
}

.f-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-25 {
    width: 25%;
}

.w-3rd {
    width: calc(100% / 3);
}

.w-100 {
    width: 100%;
}

.flex-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}