@import "./fonts/fonts";

$red-color: #DF5854;
$green-color: #A2F0C6;

.red { 
    color: $red-color;
}

.green { 
    color: $green-color;
}

.no-break {
    white-space:nowrap;
}

h1, h2, h3, h4, h5, h6, li {
    font-family: 'Helvetica Neue';
}

.white-bg {
    background-color: #fff;
}

h1 {
    font-size: 4rem;
    margin: 12px 0;
}
h2 {
    font-size: 2.5rem;
    margin: 12px 0;
}
h3 {
    font-size: 1.8rem;
    margin: 12px 0;
}
h4 {
    font-size: 1.4rem;
    margin: 12px 0;
}

.no-margin {
    margin: 0;
}

.small-p-margin {
    margin: 4px 0;
}

.d-hidden {
    display: none;
}


html {
    font-family: 'Montserrat';
    font-weight: 300;
    overflow-y: scroll;
}

.white {
    color: white;
}

.td-none {
    text-decoration: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between!important;
}

.justify-left {
    justify-content: left!important;
}

.justify-end {
    justify-content: flex-end!important;
}

.white {
    color: white!important;
}

.f-grow {
    flex-grow: 1;
}

.f-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
.align-end {
    align-content: flex-end;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: end;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-25 {
    width: 25%;
}

.w-3rd {
    width: calc(100% / 3);
}

.w-2-3rd {
    width: calc(2*(100% / 3));
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.relative {
    position: relative;
}

.flex-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marked-content {
    width: 100%;
}

.marked-content img {
    max-width: 100%;
}

.hidden {
    display: none;
}

.cookie-consent {
    background-color: #000000de!important;
    width: 94vw!important;
    padding: 2vh 3vw;
}

.cookie-btn {
    background-color: $red-color!important;
    color: #fff!important;
    border-radius: 12px!important;
    padding: 8px 16px!important;
}

.cookie-consent a,
.cookie-consent a:visited {
    color: $red-color
}

.bold { 
    font-weight: bold;
}
.black { 
    color: black;
}

@media(max-width: 1100px) {
    h1 {
        font-size: 2rem;
    }

    .mobile-text-center {
        text-align: center;
    }
    .mobile-text-left {
        text-align: left;
    }

    .mobile-flex-reverse {
        flex-direction: column-reverse;
    }

    .m-w-100 {
        width: 100%!important;
    }

    .m-hidden {
        display: none!important;
    }

    .d-hidden {
        display: block;
    }

    .mobile-section-h {
            margin-top: 36px;
            text-align: center;
            font-size: 1.8rem;
    }
}