.slider-button {
    width: 50%;
    background-color: #E05955;
    border: 3px solid #E05955;
    border-radius: 16px;
    padding: 2% 3%;
    margin-top: 3%;
    margin-bottom: 10%;
    font: normal normal bold 1rem 'Montserrat';
    text-transform: uppercase;
    color: white;
    border-radius: 1rem;
    text-align: center;
    transition: 100ms;
}

.slider-button:hover, .slider-button:active {
    background: #E059556E;
    border: 3px solid #E05955;
    border-radius: 16px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .slider-button {
        font-size: 0.75rem;
    }
}