.not-found-margin {
    background-color: #fff;
    padding-bottom: 3%;
}

.not-found-text {
    margin: 0% 0;
    text-align: center;
}

.not-found-text h1 {
    color: #E05955;
    margin: 2% 0 0 0;
    font-size: 7rem;
}

.not-found-text h2 {
    margin: 0;
    font-size: 3rem;
}