.not-found-margin {
    background-color: #fff;
    padding-top: 8%;
    padding-bottom: 1%;
}

.not-found-woops {
    background-color: #000000;
    padding: 2.5%;
    color: #FFFFFF;
    text-align: center;
    font: normal normal bold 2rem Montserrat;
    text-transform: uppercase;
}

.not-found-text {
    margin: 0% 0;
    text-align: center;
}

.not-found-text h1 {
    color: #E05955;
    margin: 0;
    font-size: 7rem;
}

.not-found-text h2 {
    margin: 0;
    font-size: 3rem;
}